<table class="profile">
  <tr>
    <td class="main">
      <h2>
        <%= gravatar_for @user %>
        <%= h @user.name %>
      </h2>
      <%= render 'users/follow_form' if signed_in? %>
      <% unless @user.microposts.empty? %>
        <table class="microposts">
          <%= render @microposts %>
        </table>
        <div class="paginate_posts">
          <%= will_paginate @microposts %>
        </div>
      <% end %>
    
    <td class="sidebar round">
      <%= render 'pages/user_info' %>
      <%= render 'pages/stats' %>
    </td>
</td>
  </tr>
</table>